@{
    ViewBag.Title = "About Me";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
    <p>
        Developed By: Nathan White
    </p>

    <p>
        Full Stack Web Developer
    </p>

</article>

<aside>
    <h3>Contact Me</h3>
    <p>
        Phone: 208.473.0565
    </p>
    <p>
        Email: comfroels@gmail.com
    </p>
    <p>
        Personal Site: <a href="http://nathanwhite.comfroels.com">nathanwhite.comfroels.com</a>
    </p>

</aside>